body {
    font-family: sans-serif;
    font-size: 20px;
    background-color: blanchedalmond;
  }
  
  /* Shift the heading text to the left, by default it is centered */
  table caption {
    font-style: italic;
    text-align: center;
  }
  
  /* We "collapse" the frames of adjacent cells */
  table {
    border-collapse: collapse;
  }
  
  /* 
    Add a border and padding to the cells, the distance from the content to the border.
    To control the vertical position, the caption-side property is used.
  */
  table td {
    background-color: rgb(190, 243, 179);
    padding: 10px;
    border: 2px solid #000000;
  }
  table th{
    background-color: rgb(255, 200, 127);
    padding: 10px;
    border: 2px solid #000000;
  }